# Ignore the simulator files
/simulator/*
!/simulator/README.md

# Ignore non planning related modules from Apollo
/apollo/*

!/apollo/modules/
/apollo/modules/*
!/apollo/modules/planning/
!/apollo/modules/routing/
!/apollo/modules/map/
!/apollo/modules/calibration/
!/apollo/modules/common/
!/apollo/modules/dreamview/
!/apollo/modules/tools

!/apollo/third_party



# Ignore unrelated files
issues.txt
.vscode 

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
